.nbRunes{
	font-size:25px;
}

#notrelogo{
  height:130px;
}

#notrelogo a{
  height:130px;
}

#btnLogout {
	float: right;
	width: 90px;
	text-align: center;
	margin-right: -614px;
	margin-top: 30px;
}