.nbRunes{
	font-size:25px;
}

#notrelogo{
  height:130px;
}

#notrelogo a{
  height:130px;
}

/* Menu */

/* Section de connexion */
#btnConnexion{
	float: right;
	width: 105px;
	text-align: center;
	margin-right: -35px;
}

#btnConnexion a{
	color: black;
	font-size: 25px;
	cursor: pointer;
}

#btnDeConnexion{
	float: right;
	width: 105px;
	text-align: center;
	cursor: pointer;
}

#btnDeConnexion a{
	color: black;
	font-size: 25px;
}

#connexion {
	float: right;
	width: 330px;
	text-align: center;
	margin-top: 15px;
}

#connexion input {
	float: left;
	width: 140px;
	margin-right: 10px;
	color: grey;
	font-size: 17px;
}

#btnLogout {
	float: right;
	width: 105px;
	text-align: center;
	margin-right: -35px;
}

/* Page Mew Troops */
.troops {
	float: left;
	width: 265px;
	margin: 10px 0px 10px 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #738a17;
}

.troops img {
	background-color: transparent;
}


.imageTroop {
	width: 265px;
	height: 175px;
	margin-bottom: 20px;
	background-color: transparent;
}

.troops a {
	text-decoration: none;
	color: #e85441;
	font-size: 18px;
}

.detailsTroop {
	margin-top: 15px;
}

.detailsTroop  p {
	font-size: 22px;
	float: left;
	margin: 10px 35px 0 0;
}

.stats {
	float: left;
	width: 35px;
	margin: 0 5px 0 0;
}
